{% extends "base.html" %}
{% load static %}
{% block page_content_1 %}
<br>
<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <h3>
                                    Upload Portofolio
                                </h3>
                                <p>
                                    <a class="btn btn-primary btn-large" href="#">Upload</a>
                                </p>
                            </div>
                            <div class="jumbotron">
                                <h3 style="font-weight:bold">
                                    Quotes
                                </h3>
                                <p>
                                    "The public is more familiar with bad design than good design. It is, in effect,
                                    conditioned to prefer bad design, because that is what it lives with.
                                    The new becomes threatening, the old reassuring." -- Paul Rand, graphic designer
                                </p>
                                <!-- <p>
                                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                                </p> -->
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="jumbotron">
                                <img alt="Bootstrap Image Preview"
                                    src="{% static 'img/default.png' %}" class="rounded-circle"
                                    style="display:block;margin-left:auto;margin-right:auto; width: 25%" />
                                <br>
                                <div class="row" style="text-align:center">
                                    <div class="col-md-12">
                                        <h3>
                                            {{ user.username }}
                                        </h3>
                                        <p>
                                            <a class="btn btn-primary btn-large" href="#">Edit Profil</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
</div>
{% endblock %}