{% load static %}
<div class="container-fluid" style="padding: 5px;">
    <div class="container">
            <div class="row">
                    <div class="col-md-4">
                      <img alt="Logo" src="{% static "/img/logo.png" %}" style="height:40px;" />
                      <p style="margin-top:5px; font-size: 12px">
                          © Copyright 2019 BOGRADES, All Right Reserved
                      </p>
                    </div>
                    <div class="col-md-8">
                      <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link " href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Messages</a>
                        </li>
                      </ul>
                    </div>
                  </div>
    </div>
        
</div>