{% load static %}
<div class="container-fluid" style="padding-top: 25px; background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img alt="Logo" src="{% static "/img/logo.png" %}" style="height:40px;" />
        <p style="margin-top:5px; font-size: 12px; color: #fff">
          © Copyright 2019 BOGRADES, All Right Reserved
        </p>
      </div>
      <div class="col-md-8">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="{% url 'main_index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="#tentang_kami">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="#memberbogrades">Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="#pendaftaran">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fff" href="#merchandise">Bogrades Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>