{% load static %}
<div class="carousel slide" id="carousel-804839">
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-804839" class="active">
        </li>
        <li data-slide-to="1" data-target="#carousel-804839">
        </li>
        <li data-slide-to="2" data-target="#carousel-804839">
        </li>
    </ol>
    <div class="carousel-inner" style="height: 500px">
        <div class="carousel-item active">
            <img class="d-block w-100" alt="Carousel Bootstrap First" src="{% static 'img/header1.jpg' %}" />
            <div class="carousel-caption text-center">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" style="border-radius:25px; padding-left:40px; padding-right:40px;"
                        href="#" role="button">Masuk</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" alt="Carousel Bootstrap Second" src="{% static 'img/header2.jpg' %}" />
            <div class="carousel-caption">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" style="border-radius:25px; padding-left:40px; padding-right:40px;"
                        href="#" role="button">Masuk</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" alt="Carousel Bootstrap Third" src="{% static 'img/header3.jpg' %}" />
            <div class="carousel-caption">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" style="border-radius:25px; padding-left:40px; padding-right:40px;"
                        href="#" role="button">Masuk</a>
                </p>
            </div>
        </div>
    </div> <a class="carousel-control-prev" href="#carousel-804839" data-slide="prev"><span
            class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a
        class="carousel-control-next" href="#carousel-804839" data-slide="next"><span
            class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
</div>