{% load static %}
<div style="padding: 10px">
        <div class="container text-center"
                style="margin-top:20px; margin-bottom: 20px; padding-top:50px; padding-bottom: 5px;">
                <h3 class="display-5">Tentang Kami</h3>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                <p class="lead">
                        <a class="btn btn-primary btn-lg"
                                style="border-radius:25px; padding-left:20px; padding-right:20px;" href="#"
                                role="button">Read more</a>
                </p>
        </div>
</div>