{% load static %}
<div style="padding: 20px">
        <div class="container text-center" style="margin-top:20px; margin-bottom: 20px; padding-top:50px; padding-bottom:50px;">
                <h3 class="display-5">TENTANG KAMI</h3>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" style="border-radius:25px; padding-left:20px; padding-right:20px;" href="#" role="button">Learn more</a>
                </p>
        </div>
</div>
