{% load static %}
<div style="padding: 10px" id="tentang_kami">
    <div class="container text-center" style="margin-top:20px; margin-bottom: 20px; padding-top:50px; padding-bottom: 5px;">
        <h3 class="display-5">About Us</h3><br>
        <p class="lead">Bogrades merupakan sebuah komunitas yang menjadi wadah untuk para desainer grafis Bogor berkumpul dan berbagi ilmu. Bogrades didirikan pada tahun 2014 oleh Aldo Picaso yang merupakan salah seorang admin di Komunitas IGD (Indonesia Graphic Design)</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" style="border-radius:25px; padding-left:20px; padding-right:20px;" href="{% url 'tentangkami_index' %}" role="button">Read more</a>
        </p>
    </div>
</div>