{% extends "base.html" %}
{% load static %}
{% block page_content_1 %}
{% include 'snippets/main_content/slider.html' %}
<div style="padding-top: 5%">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Syarat dan Ketentuan
                            </h3> <br>
                            <p style="text-align:left;">
                                1. Asli warga atau berdomisili di Kota/Kab Bogor <br>
                                2. Mengisi formulir Pendaftaran <br>
                                3. Kirimkan 3 karya terbaik ukuran 500 x 500px dengan format .jpg atau .png <br>
                                4. Kirimkan foto diri terbaik <br>
                                Karya dan Foto Diri di upload bersamaan saat pengisian formulir pendaftaran
                            </p> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Formulir Pendaftaran
                            </h3>
                            <form action="{% url 'addUser' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Register" class="btn btn-success">
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}