{% extends "base.html" %}
{% load static %}

{% block page_content_1 %}
{% include 'snippets/main_content/slider.html' %}
{% endblock %}

{% block page_content_2 %}
{% include 'snippets/main_content/tentang_kami.html' %}
{% endblock %}

{% block page_content_3 %}
{% include 'snippets/main_content/member_bogrades.html'%}
{% endblock %}

{% block page_content_4 %}
{% include 'snippets/main_content/galeri.html'%}
{% endblock %}

{% block page_content_5 %}
{% include 'snippets/main_content/pendaftaran_member.html'%}
{% endblock %}

{% block page_content_6 %}
{% include 'snippets/main_content/list_product.html' %}
{% endblock %}

{% block page_content_7 %}
{% include 'snippets/main_content/artikel.html' %}
{% endblock %}

<!-- {% block page_content_8 %}
{% include 'snippets/main_content/signin.html' %}
{% endblock %} -->