{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_content_1 %}
{% include 'snippets/main_content/slider.html' %}
<br>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="panel-body">
            {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}
            <div class="col-md-12"><h3>Syarat dan Ketentuan Menjadi Member Bogrades</h3>
            <li>Asli Warga/Berdomisili di Kota/Kabupaten Bogor</li>
            <li>Mengisi Formulir Pendaftaran</li>
            <li>Mengupload Portofolio setelah sukses mengisi Formulir Pendaftaran</li>
            <li>Mengupload Foto Diri setelah sukses mengisi Formulir Pendaftaran</li>
            </div>
            <br>
            <div class="col-md-12"><h3>Form Pendaftaran Member Bogrades</h3></div>
            <div class="col-md-12">
                {{ form|crispy }}
            </div>
            <div class="col-md-6 col-md-offset-4">
                <input type="submit" value="Register" class="btn btn-success">
            </div>
        </div>

    </form>
</div>
<br>
{% endblock %}